h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {box-shadow: 1px 1px 38px darkseagreen;}
    50% {box-shadow: 1px 1px 38px darkturquoise;}
    100% {box-shadow: 1px 1px 38px darkseagreen;}
}
body{
    background-image: "https://gag.so/uploads/posts/t/60185.jpg";
    background-size: cover;
}